@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing:border-box;
}
body {
    padding:0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2em;
    color: white;
    min-height: 100vh;
}
.full-height-grow{
    display: flex;
    flex-direction: column;
}
.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}
.brand-logo-name {
    margin-left: 1rem;
}

.navigation-bar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 50px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav a{
    color:inherit;
    text-decoration: none;
    padding: 1rem;
}
.main-nav a:hover{
    color:#adadad;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header{
    height: 140px;
}
















